<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Article" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    {{> config}}
    <link rel="stylesheet" href="{{ staticUrl }}/mocha.css" />
    <script src="{{ staticUrl }}/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    {{{block "head"}}}
</head>
<body>
<div id="mocha"></div>
</body>
{{> mocha }}
</html>