<title>node-startup</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="shortcut icon" type="image/x-icon" href=""/>
<meta name="apple-mobile-web-app-title" content="TechCrunch">
<link href="http://s1.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/homescreen_TCIcon.png?m=1381219147g"
      rel="apple-touch-icon-precomposed"/>
<link href="http://s1.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/homescreen_TCIcon_2x.png?m=1382605028g"
      sizes="114x114" rel="apple-touch-icon-precomposed"/>
<link href="http://s1.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/homescreen_TCIcon_ipad.png?m=1381204869g"
      sizes="72x72" rel="apple-touch-icon-precomposed"/>
<link href="http://s1.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/homescreen_TCIcon_ipad_2x.png?m=1382605028g"
      sizes="144x144" rel="apple-touch-icon-precomposed"/>
<meta name="google-site-verification" content="4U1OC1LwZlFHAehLhCV4rt3YzWI_AyF7Gb0XqlaVEhE"/>
<meta name="msvalidate.01" content="5ABD8A078F3356F3A6A8C8643C31FB8F"/>
<link rel="apple-touch-icon" href=" ">
<link rel="apple-touch-startup-image" href="">
<link rel="apple-mobile-web-app-status-bar-style" content="black-translucent ">
<meta name="application-name" content="TechCrunch"/>
<meta name="msapplication-starturl" content="/"/>
<meta name="msapplication-window" content="width=device-width;height=device-height"/>
<meta name="msapplication-tooltip" content="Startup and Technology News"/>
<meta name="msapplication-task"
      content="name=David Walsh Blog;action-uri=http://davidwalsh.name;icon-uri=http://davidwalsh.name/favicon.ico"/>
<meta name="msapplication-task"
      content="name=David Walsh on Twitter;action-uri=http://twitter.com/davidwalshblog;icon-uri=http://twitter.com/favicon.ico"/>
<meta name="msapplication-task "
      content="name=David Walsh on Facebook;action-uri=http://www.facebook.com/pages/David-Walsh-Blog/186644584869;icon-uri=https://s-static.ak.facebook.com/rsrc.php/yi/r/q9U99v3_saj.ico"/>
<meta name="msapplication-task"
      content="name=David Walsh on LinkedIn;action-uri=http://il.linkedin.com/in/davidjameswalsh;icon-uri=http://linkedin.com/favicon.ico"/>
<meta name="msapplication-task"
      content="name=Subscribe;action-uri=http://techcrunch.com/feed/;icon-uri=http://0.gravatar.com/blavatar/ad5b2a2b10ddd8fc4e4588abd4e12a84?s=16"/>
<meta name="application-name" content="TechCrunch"/>
<meta name="msapplication-window" content="width=device-width;height=device-height"/>
<meta name="msapplication-tooltip" content="Startup and Technology News"/>
<meta name="msapplication-task" content="name=Subscribe;action-uri=http://techcrunch.com/feed/;icon-uri=http://0.gravatar.com/blavatar/ad5b2a2b10ddd8fc4e4588abd4e12a84?s=16"/>
<link rel="alternate" type="application/rss+xml" title="TechCrunch &raquo; Feed"
      href="http://techcrunch.com/feed/"/>
<link rel="alternate" type="application/rss+xml" title="TechCrunch &raquo; Comments Feed"
      href="http://techcrunch.com/comments/feed/"/>
<link href="{{ STATIC_URL }}assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link rel="dns-prefetch" href="https://si0.twimg.com"/>
