section.footer {
  width: 100%;
  background: white;
  height: 40px;
  padding: 10px;
  margin: 10px 0 0 0 0;
  border-top: 1px solid #cccccc;
  h1 {
    float: left;
    font-size: 15px;
    font-style: italic;
    span {
      color: $purple;
    }
  }
}
