* {
  @include box-sizing(border-box);
  filter: inherit;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  text-rendering: optimizelegibility;
}

a {
  color: $white;
  outline: none;
  text-decoration: none;
}

.placeholder {
  color: $gray;
}

.icon {
  font-family: 'entypo';
}
