<nav class="tab-bar hide-for-medium-up nav-view">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
  </section>
</nav>
<aside class="left-off-canvas-menu nav-view">
  <ul class="off-canvas-list">
    <li><a href="/"><span class="icon" data-href="/">&#127891;</span> node-<span data-href="/">startup</span></a></li>
    <li><a href="about"><span data-href="about" class="icon">&#128214;</span> About</a></li>
    <li><a href="links"><span data-href="links" class="icon">&#128279;</span> Links</a></li>
    <li><a href="topics"><span data-href="topics" class="icon">&#128193;</span> Topics</a></li>
    <li><a href="users"><span data-href="users" class="icon">&#128101;</span> Users</a></li>
    <li><a href="log-in"><span data-href="log-in" class="icon">&#128100;</span> Log In</a></li>
    <li><a href="sign-up"><span data-href="sign-up" class="icon">&#59136;</span> Sign Up</a></li>
  </ul>
</aside>
<a class="exit-off-canvas"></a>

<!-- top bar code -->
<nav class="top-bar show-for-medium-up nav-view" data-topbar>
  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul>
      <li><a href="/"><span class="icon" data-href="/">&#127891;</span> node-<span data-href="/">startup</span></a></li>
      <li><a href="about"><span data-href="about" class="icon">&#128214;</span> About</a></li>
      <li><a href="links"><span data-href="links" class="icon">&#128279;</span> Links</a></li>
      <li><a href="topics"><span data-href="topics" class="icon">&#128193;</span> Topics</a></li>
      <li><a href="users"><span data-href="users" class="icon">&#128101;</span> Users</a></li>
      <li><a href="log-in"><span data-href="log-in" class="icon">&#128100;</span> Log In</a></li>
      <li><a href="sign-up"><span data-href="sign-up" class="icon">&#59136;</span> Sign Up</a></li>
    </ul>
  </section>
</nav>
