<section class="header">
    <nav class="row">
        <h1 class="span3">
            <a href="/"><i class="icon" data-href="/">&#127891;</i> Linkway<span data-href="/">Live</span></a>
        </h1>
        <ul class="span7">
          <li class="tablet-mobile">&#9776;</li>
          <li><a href="about"><i data-href="about" class="icon">&#128214;</i> About</a></li>
          <li><a href="links"><i data-href="links" class="icon">&#128279;</i> Links</a></li>
          <li><a href="topics"><i data-href="topics" class="icon">&#128193;</i> Topics</a></li>
          <li><a href="users"><i data-href="users" class="icon">&#128101;</i> Users</a></li>
          <li><a href="log-in"><i data-href="log-in" class="icon">&#128100;</i> Log In</a></li>
          <li class="last"><a href="sign-up"><i data-href="sign-up" class="icon">&#59136;</i> Sign Up</a></li>
        </ul>
        <form class="span2" action="search" method="post">
            <input type="text" placeholder="SEARCH"><i class="icon">&#128269;</i>
        </form>
    </nav>
</section>