  <nav class="tab-bar hide-for-medium-up">
    <section class="left-small">
      <a class="left-off-canvas-toggle menu-icon"><span></span></a>
    </section>
  </nav>
  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><a href="/"><i class="icon" data-href="/">&#127891;</i> node-<span data-href="/">startup</span></a></li>
      <li><a href="about"><i data-href="about" class="icon">&#128214;</i> About</a></li>
      <li><a href="links"><i data-href="links" class="icon">&#128279;</i> Links</a></li>
      <li><a href="topics"><i data-href="topics" class="icon">&#128193;</i> Topics</a></li>
      <li><a href="users"><i data-href="users" class="icon">&#128101;</i> Users</a></li>
      <li><a href="log-in"><i data-href="log-in" class="icon">&#128100;</i> Log In</a></li>
      <li><a href="sign-up"><i data-href="sign-up" class="icon">&#59136;</i> Sign Up</a></li>
    </ul>
  </aside>
  <a class="exit-off-canvas"></a>

  <!-- top bar code -->
  <nav class="top-bar show-for-medium-up" data-topbar>
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <section class="top-bar-section">
      <ul>
        <li><a href="/"><i class="icon" data-href="/">&#127891;</i> node-<span data-href="/">startup</span></a></li>
        <li><a href="about"><i data-href="about" class="icon">&#128214;</i> About</a></li>
        <li><a href="links"><i data-href="links" class="icon">&#128279;</i> Links</a></li>
        <li><a href="topics"><i data-href="topics" class="icon">&#128193;</i> Topics</a></li>
        <li><a href="users"><i data-href="users" class="icon">&#128101;</i> Users</a></li>
        <li><a href="log-in"><i data-href="log-in" class="icon">&#128100;</i> Log In</a></li>
        <li><a href="sign-up"><i data-href="sign-up" class="icon">&#59136;</i> Sign Up</a></li>
      </ul>
    </section>
  </nav>
