%clearfix {
  &:before, &:after {
    content: ".";
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  &:after {
    clear: both;
  }
}

%ir {
  font-size: 0;
  text-indent: -9999px;
}
