// http://viget.com/inspire/building-a-nested-responsive-grid-with-sass-compass 
// Sass::Script::Number.precision = 10 

$cols: 12;
$gutter: 2%;

$one-col: (100% - $gutter * ($cols - 1)) / $cols;

@mixin cols($num) {
  width: $one-col * $num + $gutter * ($num - 1);
}

@mixin sub-cols($num-child, $num-parent) {
  $parent-size: $one-col * $num-parent + $gutter * ($num-parent - 1);
  $child-size: $one-col * $num-child + $gutter * ($num-child - 1);
  margin-left: $gutter / $parent-size * 100%;
  width: $child-size / $parent-size * 100%;
}

.row {

  @for $i from 1 through $cols {
    .span#{$i} {
      float: left;
      margin-left: $gutter;
      @include cols($i);
      @for $j from 1 through $i - 1 {
        .span#{$j} {
          @include sub-cols($j, $i);
        }
      }
    }
  }

  > :first-child,
  .row > :first-child {
    margin-left: 0;
  }
}
