<div class="wrapper">
  <div class="row pad-btm">
    <div class="column large-12">
      <h1 class="ptitle left">Join - Create Account</h1>
      <!-- end .columns.large-12 -->
    </div>
    <!-- end .row -->
    <div class="row pad-btm">
      <div class="columns large-12">
        <h1>Get an Account</h1>

        <div class="columns large-6">
          <p>Create an account to take advantage of the features and benefits that make using our website faster and
            easier:</p>
          <ul class="circle">
            <li>Save items to your wish list</li>
            <li>Order tracking and order history</li>
            <li>Save your account information</li>
            <li>Receive email updates and offers</li>
          </ul>
        </div>

        <div class="columns large-6">
          <h5 class="alt"><span>Create a New Account</span></h5>

          <div class="signupform">
            <form name="catwebformform22955" method="post"
                  enctype="multipart/form-data"
                  action="/FormProcessv2.aspx?WebFormID=63704&amp;OID=14301795&amp;OTYPE=1&amp;EID=0&amp;CID=0&amp;CC=US&amp;Referrer=http%3a%2f%2fuguru-foundation5-us.businesscatalyst.com">
              <small><span class="req">*</span> Required</small>
              <div class="item">
                <input type="text" name="FirstName" id="FirstName" class="cat_textbox" maxlength="255"
                       placeholder="First Name"/>
              </div>
              <div class="item">
                <input type="text" name="LastName" id="LastName" class="cat_textbox" maxlength="255"
                       placeholder="Last Name"/>
              </div>
              <div class="item">
                <input type="text" name="EmailAddress" id="EmailAddress" class="cat_textbox" maxlength="255"
                       placeholder="Email Address"/>
              </div>
              <div class="item">
                <input type="text" name="Username" id="Username" class="cat_textbox" maxlength="255"
                       placeholder="Username"/>
              </div>
              <div class="item">
                <input type="password" name="Password" id="Password" class="cat_textbox" maxlength="255"
                       autocomplete="off" placeholder="Password"/>
              </div>
              <div class="item">
                <input type="password" name="PasswordConfirm" id="PasswordConfirm" class="cat_textbox" maxlength="255"
                       autocomplete="off" placeholder="Confirm Password"/>
              </div>
              <div class="item">
                <div style="display: none">
                  <input type="text" name="s_content" id="s_content" class="cat_textbox"/>
                  <input type="text" name="s_summary" id="s_summary" class="cat_textbox"
                         value="93cd86dd2ef9415faaa5973fecf8c4ac"/>
                </div>

              </div>
              <div class="item">
                <input class="button radius" type="submit" value="Submit" id="catwebformbutton"/>
              </div>

            </form>

          </div>
        </div>


      </div>
      <!-- end .columns.large-12 -->
    </div>
    <!-- end .row  -->
  </div>
</div>