<section class="login">
    <form class="login" method="post" action="/api/login">
        
        <label for="username">Username</label><input name="username" class="username" type="text"/>

        <label for="email">email</label><input name="email" class="email" type="text"/>

        <label for="verifypassword">password</label><input name="verifypassword" class="password" type="text"/>
        <label for="password">password</label><input name="verifypassword" class="password" type="text"/>

        <input type="submit" value="Submit" />
    </form>
</section>

<!--

div.container>ul.nav.nav-tabs>li*5>a{Link $}

div>button.btn{Button}*3

-->